<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
    
	    <section layout:fragment=contents class="contents d-flex justify-content-center">
	    	<div class="memo-input my-4 p-5">
		    	<h2 class="text-center">메모 리스트</h2>
	    		
				<table class="table table-bordered table-sm text-center mt-4">
					<thead>
						<tr class="table-secondary">
							<th>No.</th>
							<th>제목</th>
							<th>작성날짜</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="memo:${memoList}">
							<td th:text="${memo.id}">0</td>
							<td th:text="${memo.title}">메모 작성중 테스트</td>
							<td th:text="${#temporals.format(memo.createdAt, 'yyyy-M-dd')}">2024-12-05</td>
						</tr>
					</tbody>
				</table>
	    		
	    		<div class="d-flex justify-content-end mt-4">
	    			<a href="/post/create-view" class="btn btn-secondary">메모 쓰기</a>
	    		</div>
	    	</div>
	    </section>

</html>